- @content_class = "limit-container-width" unless fluid_layout
- add_to_breadcrumbs _("Vulnerability Report"), project_security_vulnerability_report_index_path(@project)
- breadcrumb_title @vulnerability.id
- page_title @vulnerability.title
- page_description @vulnerability.description
- add_page_specific_style 'page_bundles/security_dashboard'

#js-vulnerability-main{ data: { vulnerability: vulnerability_details_json(@vulnerability, @pipeline),
                                false_positive_doc_url: help_page_path('user/application_security/vulnerabilities/index'),
                                can_view_false_positive: (::Feature.enabled?(:vulnerability_flags, default_enabled: :yaml) && @project.licensed_feature_available?(:sast_fp_reduction)).to_s,
                                commit_path_template: commit_path_template(@project) } }
